In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# Create dataframe with combined dataset
district_data_df = (school_data_complete)
district_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [3]:
# Calculate the number of schools in the DataFrame
school_count = len(district_data_df["school_name"].unique())
print(school_count)

# Calculate the total number of students
student_count = len(district_data_df["Student ID"].unique())
print(student_count)

# Calculate the total budget
budget_total = sum(district_data_df ["budget"].unique())
print(budget_total)

# ----AVG -------
# Calculate the average math score
math_average = district_data_df ["math_score"].mean()
print(math_average)

# Calculate the average reading score
read_average = district_data_df ["reading_score"].mean()
print(read_average)

# ----MATH PASSING-------
math_pass = district_data_df.loc[(district_data_df["math_score"])>=70]
math_total = math_pass.count()["Student ID"]
percent_math_pass = ((math_total/student_count)*100)
print(percent_math_pass)

# ----READ PASSING-------
read_pass = district_data_df.loc[(district_data_df["reading_score"])>=70]
read_total = read_pass.count()["Student ID"]
percent_read_pass = ((read_total/student_count)*100)
print(percent_read_pass)

# ----OVERALL PASSING-------
# Calculate the percentage of students who passed math and reading (% Overall Passing)
# locating overall >=70 scores
math_read_pass = district_data_df.loc[(district_data_df["reading_score"]>= 70) & (district_data_df["math_score"]>= 70)]
#print(math_read_pass)

# locating overall >=70 scores and counting by occurrance on Student ID
math_read_total = math_read_pass.count()["Student ID"]

# using that overall count to calculate percentage
overallper = ((math_read_total/student_count)*100)
print(overallper)

15
39170
24649428
78.98537145774827
81.87784018381414
74.9808526933878
85.80546336482001
65.17232575950983

In [4]:
# Create a dataframe to hold the above results
summary_dicts = [{"Total Schools" : school_count, 
                  "Total Students" : student_count, 
                  "Total School Budget" : budget_total,
                  "Average Math Score" : math_average, 
                  "Average Reading Score" : read_average,
                  "% Passing Math" : percent_math_pass,
                  "% Passing Reading" : percent_read_pass,
                  "% Overall Passing" : overallper}]
district_summary_df = pd.DataFrame(summary_dicts)
district_summary_df

,Total Schools,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [5]:
# ---------------SUMMARY BY SCHOOL NAME-----------------

# Set new index by School Name
school_types = school_data.set_index(["school_name"])["type"]
school_budget = school_data.set_index(["school_name"])["budget"]


# school_budget.head(10)
school_types.head(10)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Name: type, dtype: object

In [15]:
# Group district data by school -- run print on each variable to check result
grouped_school_df = district_data_df.groupby(["school_name"])
# print(grouped_school_df)

# count of students per school -- run print on each variable to check result
students_per_school = grouped_school_df["Student ID"].count().head(10)
print(students_per_school)

# budget per school
budget_per_school = school_budget
# print(budget_per_school)

# budget per student per school -- run print on each variable to check result
budget_per_student = school_budget/students_per_school
# print(budget_per_student)

#Avg math -- run print on each variable to check result
avg_math_per_school = grouped_school_df["math_score"].mean()
# print(avg_math_per_school)

#Avg reading -- run print on each variable to check result
avg_read_per_school = grouped_school_df["reading_score"].mean()
# print(avg_read_per_school)

# ----MATH PASSING-------
math_pass_per_school_df = district_data_df.loc[(district_data_df["math_score"])>=70]
math_group_df = math_pass_per_school_df.groupby(["school_name"])
math_cnt = math_group_df["Student ID"].count()
percent_math_pass = ((math_cnt/students_per_school)*100)
print(percent_math_pass)



# percent_math_pass = ((math_total/students_per_school)*100)

# print(percent_math_pass)
                                          
# Percent reading --

# Percent overall --

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Name: Student ID, dtype: int64
school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School          NaN
Shelton High School            NaN
Thomas High School             NaN
Wilson High School             NaN
Wright High School             NaN
Name: Student ID, dtype: float64

In [ ]:
school_dicts =({
    "School Type": school_types,
    "Total Students": students_per_school,
    "Total School Budget": school_budget,
    "Per Student Budget": budget_per_student,
    "Average Math Score": avg_math_per_school,
    "Average Reading Score": avg_read_per_school,
    "Percent Passing Math": percent_math_pass,
#     "Percent Passing Reading": percent_read_pass,
#     "Percent Overall Pass": 
})
school_summary_df = pd.DataFrame(school_dicts)
school_summary_df

In [ ]:
# Sort and display the top five performing schools by % overall passing.
overall_df = school_df.sort_values("Percent Overall Pass", ascending=False)
overall_df.head()

In [ ]:
# Sort and display the bottom five performing schools by % overall passing.
overall_df = school_df.sort_values("Percent Overall Pass", ascending=True)
overall_df.head()

In [ ]:
# -----------MATH SCORES BY GRADE-----------
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

math_average = district_data_df ["math_score"].mean()
print(math_average)

# Create a pandas series for each grade. Hint: use a conditional statement.
student_grade = school_data_complete.set_index(["school_name"])["9th"],["10th"],["11th"],["12th"]
ninth = district_data_df.loc[district_data_df["grade"] == "9th"]
tenth = district_data_df.loc[district_data_df["grade"] == "10th"]
elev = district_data_df.loc[district_data_df["grade"] == "11th"]
twel = district_data_df.loc[district_data_df["grade"] == "12th"]


# Group each series by school
grouped_school_df = district_data_df.groupby(["school_name"])
print(grouped_school_df)

# Combine the series into a dataframe
math_by_grade =({
    "9th": ninth,
    "10th": tenth,
    "11th": elev,
    "12th": twel,
})
math_scores_df = pd.DataFrame(math_by_grade)
math_scores_df

# Optional: give the displayed data cleaner formatting

In [ ]:
#------------ Reading Score by Grade------------
# Perform the same operations as above for reading scores

In [ ]:
#----------- Scores by School Spending---------
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

In [ ]:
# ----------Scores by School Size--------------
# Perform the same operations as above, based on school size.

In [ ]:
# --------------Scores by School Type------------
# Perform the same operations as above, based on school type